body{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

section{
    background: linear-gradient(0deg, rgba(41,64,44,1) 0%, rgba(168,255,99,1) 100%);

	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}


img{
    width: 300px;
}

#counter{
    display: flex;
    flex-wrap: wrap;
    gap: 3rem;
  }
  
  
  .time{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 32px;
    color: #fff;
    font-weight: 900;
    text-align: center;
    background-color: #29402C;
    border: 4px solid #000;
  
  
  
  }
  
  
  .time:first-child:before{
    text-transform: uppercase;
    content: "days";
    font-size: 16px;
    font-weight: normal;
  }
  
  .time:nth-child(2):before{
    text-transform: uppercase;
    content: "hours";
    font-size: 16px;
    font-weight: normal;
  
    
  }
  
  .time:nth-child(3):before{
    text-transform: uppercase;
    content: "min";
    font-size: 16px;
    font-weight: normal;
  
  
  }
  
  
  .time:last-child:before{
    text-transform: uppercase;
    content: "sec";
    font-size: 16px;
    font-weight: normal;
  
  
  }
